<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="DBCON" 
             connectionString="data source=localhost,1433;initial catalog=TEST_01;user id=sa;password="
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>